* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clock-container {
  text-align: center;
  padding: 20px 40px;
  background: #161b22;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 1px solid #30363d;
}

#clock {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border-bottom: 4px solid transparent;
}

#date {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  width: 1500px;
  height: 140px;
  margin-top: 60px;
  padding: 10px;
  border-bottom: 4px solid #cea135;
  border-top: 4px solid #cea135;
}
.profile_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 6px solid #cea135;
  background-color: #000;
  padding: 10px;
}

.profile_wraper > img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
.navbar_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding: 6px;
  
}

.navbar_wrapper>.navlinkwraper{
  display: flex;
  justify-content: center;
 width: 80px;
 height: 30px;
 padding: 5px;
}
.navbar_wrapper>.navlinkwraper>a{
text-decoration: none;
font-weight: bolder;
color: white;
border-bottom: 2px solid transparent;
transition: 2s;
}
.navbar_wrapper>.navlinkwraper>a:hover{
  border-bottom: 2px solid #cea135;
  letter-spacing: 2px;
}