* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock-container {
  text-align: center;
  padding: 20px 40px;
}

#clock {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

#date {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11122b;
  width: 100%;
  height: 140px;
  margin-top: 80px;
  padding: 10px;
  border-bottom: 4px solid #cea135;
  border-top: 4px solid #cea135;
  position: sticky;
  top: 60px;
}
.profile_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 6px solid #cea135;
  background-color: #11122b;
  padding: 10px;
}

.profile_wraper > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: 100%;
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar_wrapper > .navlinkwraper {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 30px;
  padding: 5px;
}
.navbar_wrapper > .navlinkwraper > a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  border-bottom: 2px solid transparent;
  transition: 2s;
}
.navbar_wrapper > .navlinkwraper > a:hover {
  border-bottom: 2px solid #cea135;
  letter-spacing: 2px;
}
main {
  margin-top: 80px;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  height: 200px;
  border: 4px solid #11122b;
  margin-top: 80px;
}
iframe {
  width: 100%;
  height: 20vw;
  margin-top: 80px;
  margin-bottom: 80px;
}
.messagewrapper {
  display: flex;
  padding: 10px;
  height: 200px;
  width: 100%;
  gap: 100px;
  margin-top: 60px;
}

.messagewrapper > img {
  width: 200px;
  height: 200px;
  float: left;
  border: 2px solid #cea135;
  border-radius: 6px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

footer {
  background-color: #11122b;
  width: 100%;
  height: 400px;
}
.home_page {
  height: 500px;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  display: flex;
  justify-content: space-around;
  height: 200px;
}
.services > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 320px;
  border: 6px solid #cea135;
  border-radius: 6px;
  height: 140px;
  width: 240px;
}
.services > div:hover {
  color: white;
  border-radius: 10px; /* Optional: for rounded glow corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* The glow effect */
}
.services > div > h2 {
  font-weight: bolder;
  color: white;
  font-size: 28px;
}
